<div id="searchBarArea">
  <label for="input1"> English & Turkish Sentences (+Technical) </label><br>
  <label for="input1"> Ingilizce & Türkçe Cümleler (+Teknik) </label><br>

  <div class="dropdown">
    <div class="inputAreas2" id="selectionBar5"><img src="/assets/us.svg" style="max-width: 23px;">&nbsp;İngilizce&nbsp;-&nbsp;<img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe&nbsp;(+Teknik) <span class="arrowSign">&#9660;</span></div>

    <div class="dropdown-content">
      <a href="/tech-turkish-english"> <img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe&nbsp;-&nbsp;<img src="/assets/us.svg" style="max-width: 23px;">&nbsp;İngilizce (+Teknik)</a>

      <a href="/"> <img src="/assets/us.svg" style="max-width: 23px;">&nbsp;İngilizce&nbsp;-&nbsp;<img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe</a>
      <a href="/turkish-english"> <img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe&nbsp;-&nbsp;<img src="/assets/us.svg" style="max-width: 23px;">&nbsp;İngilizce</a>

      <a href="/german-turkish"> <img src="/assets/germany.svg" style="max-width: 23px;">&nbsp;Almanca&nbsp;-&nbsp;<img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe</a>
      <a href="/turkish-german"> <img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe&nbsp;-&nbsp;<img src="/assets/germany.svg" style="max-width: 23px;">&nbsp;Almanca</a>
    </div>
  </div>

  <form class="contact_form" action="/tech-english-turkish" method="post">
    <span><input class="inputAreas" type="text" name="input1" id="mainInput" autofocus required>&nbsp;&nbsp;&nbsp;
      <button class="commentButton">Search-Ara</button></span>
  </form>


</div>
