<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" media="screen and (min-width: 961px)" type="text/css" href="/assets/style_large.css">
<link rel="stylesheet" media="screen and (max-width: 960px)" type="text/css" href="/assets/style_small.css">
<link rel="icon" href="/assets/icon1.png">
<title>BROWNDISC.COM: Daha iyi tercüme için İngilizce - Türkçe Cümleler</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/master.js"></script>
