<div id="searchBarArea">
  <label for="input1"> Deutsche & Türkische Sätze </label><br>
  <label for="input1"> Almanca & Türkçe Cümleler </label><br>

  <div class="dropdown">
    <div class="inputAreas2" id="selectionBar6"><img src="/assets/germany.svg" style="max-width: 23px;">&nbsp;Almanca&nbsp;-&nbsp;<img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe <span class="arrowSign">&#9660;</span></div>

    <div class="dropdown-content">
      <a href="/turkish-german"> <img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe&nbsp;-&nbsp;<img src="/assets/germany.svg" style="max-width: 23px;">&nbsp;Almanca</a>

      <a href="/"> <img src="/assets/us.svg" style="max-width: 23px;">&nbsp;İngilizce&nbsp;-&nbsp;<img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe</a>
      <a href="/turkish-english"> <img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe&nbsp;-&nbsp;<img src="/assets/us.svg" style="max-width: 23px;">&nbsp;İngilizce</a>

      <a href="/tech-english-turkish"> <img src="/assets/us.svg" style="max-width: 23px;">&nbsp;İngilizce&nbsp;-&nbsp;<img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe (+Teknik)</a>
      <a href="/tech-turkish-english"> <img src="/assets/turkey.svg" style="max-width: 23px;">&nbsp;Türkçe&nbsp;-&nbsp;<img src="/assets/us.svg" style="max-width: 23px;">&nbsp;İngilizce (+Teknik)</a>
    </div>
  </div>

  <form class="contact_form" action="/german-turkish" method="post">
    <span><input class="inputAreas" type="text" name="input1" id="mainInput" autofocus required>&nbsp;&nbsp;&nbsp;
      <button class="commentButton">Ara-Suche</button></span>
  </form>


</div>
