
<div class="new_upperBar">
  <div class="dropdown">
    <span id="logo"><img src="/assets/icon4.png" alt="website icon" id="menu_button">&nbsp;<a href="/" id="logo-link">browndisc.com</a></span>
  </div>
  <a href="/about" id="about_button"><img class="aboutIcon" src="/assets/iconAbout2.png" alt="this is a homepage icon"></a>
  <a href="/" id="home_button"><img src="/assets/iconHome.svg" alt="this is a homepage icon"></a>


</div>
<div class="new_colorBar">
  <span id="color1"></span>
  <span id="color2"></span>
  <span id="color3"></span>
  <span id="color4"></span>
</div>
