
<div class="new_upperBar">
  <div class="leftSideUp">
    <img src="/assets/sun.png" alt="website icon" class="App-logo">
    <a href="/" id="logo-link">browndisc.com</a>
  </div>
  <div class="rightSideUp">
    <span id="about_button"><a href="/about"><img class="aboutIcon" src="/assets/iconAbout.png" alt="this is a homepage icon"></a></span>
  </div>
</div>
<div class="new_colorBar">
  <span id="color1"></span>
  <span id="color2"></span>
  <span id="color3"></span>
  <span id="color4"></span>
</div>
