<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>

    <div class="new_main">
    <p>icons credit: <br>
       <a href="https://www.iconfinder.com/">iconfinder.com</a> <br>
       <a href="https://unicode-table.com/">unicode-table.com</a> <br>
    </p>
    <p>browndisc.com: English & Turkish translation examples. Please share your comment, ideas, tranlation improvements down in the comment section.</p>
    <p>Last update: 12 August 2021</p>

    <%- include("./partials/partial_commentAbout") %>
    <%- include("./partials/partial_4") %>
    </div>
  </body>
</html>
