<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>

    <div class="new_main">
      <%- include("./partials/partial_3") %>
    </div>

  </body>
</html>
