<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>
    <div class="new_main">

      <form class="contact_form" action="/tureng" method="post">

        <label for="input1">Enter Turkish Sentence: </label><br>
        <input class="inputAreas" type="text" name="input1" required><br>

        <label for="input2">Enter English Translation: </label><br>
        <input class="inputAreas" type="text" name="input2" required><br>

        <button class="commentButton">Submit</button>
      </form>

    </div>

  </body>
</html>
